######Este archivo indica que cosas no seran tomadas en cuenta por git######
#Ignoro todo, exeptuando algunas cosillas
/*
!AlumnoEjemplos
AlumnoEjemplos/*
!/AlumnoEjemplos/AlumnoMedia
!/AlumnoEjemplos/BATTLE_SHIP
#Otras cosas que no quiero ignorar
!.gitignore
#No ignoro el .csproj que contiene la info de proyecto y el .suo que contiene la info de la solucion
!/AlumnoEjemplos/AlumnoEjemplos.csproj
!TgcViewer.sln